* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  gap: 0px;
  width: 960px;
  margin: 0 auto;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 100px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  padding: 0 50px;
}

 main :nth-child(1) {   
  margin-bottom: 30px;
}
main :nth-child(2){
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;}
main section :nth-child(1){
  display: grid;
 
  gap: 30px;
  margin-bottom: 30px;
}
main section :nth-child(2){
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}
main section :nth-child(3){
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}


main :nth-child(3) {
  display: flex;
  gap: 30px;
}

p {

  text-indent: 30px;
  height: 20%;
  overflow: scroll;
}
main section:nth-child(3)img{
  width: 50%;
}

main a:hover {
  background-color: rgb(255, 0, 21);
  align-items: center;
    justify-content: center;
}
footer {
  display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
}